*{
  margin: 0;
  padding:0;
}
.todo{
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
.todo li{
  list-style: none;
  margin-bottom: 5px;
}
.glyphicon-remove{
  color: red;
  cursor: pointer;
}
.control{
  margin-top: 20px;
}
